.main {
  background: yellow;
  padding: 5%;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background: rgb(233, 190, 190);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  background-color: white;
  width: 80vw;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fruit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 40%;
}
.image {
  width: 80%;
  height: 250px;
}
.main-head {
  font-size: 35px;
  font-family: 'Roboto';
  color: black;
  margin-top: 50px;
}
.fruit-button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  background: rgb(55, 177, 233);
  border: 0 solid;
  margin-top: 50px;
  margin-right: 25px;
}
span {
  color: rgb(232, 243, 20);
  font-size: 38px;
}
@media screen and (max-width: 468px) {
  .main-head {
    font-size: 20px;
  }
  .fruit-button {
    width: 120px;
    font-size: 16px;
    padding: 2px;
    height: 30px;
  }
  span {
    font-size: 20px;
  }
  .image {
    height: 150px;
  }
}
